.contenedor-top {
      display: flex;
      flex-direction: row;
      width: 1850px;
      height: 250px;
      align-items: ;
      margin-bottom: 20px;
      margin-left: 5px;
      margin-right: 5px;
      border: solid black
  }
  
  
 .contenedor{
      display: flex;
      height: 250px;
      width: 300px;
      color: white;
      align-items: center;
      justify-content: center;
  }
  
 .contenedor:nth-child(1){
      background-color: red;
  }
  
 .contenedor:nth-child(2){
      background-color: blue;
      margin-left: 550px;
  }
  
  .contenedor:nth-child(3){
      background-color: green;
      margin-left: 550px;
  }
  
  