.contenedor-top {
      display: flex;
      flex-direction: row;
      width: 1420;
      height: 250px;
      margin-bottom: 20px;
      margin-left: 5px;
      margin-right: 10px;
      justify-content: space-between;
      border: solid black
  }
  
  
 .contenedor{
      display: flex;
      height: 250px;
      width: 250px;
      color: white;
      align-items: center;
      justify-content: center;
  }
  
 .contenedor:nth-child(1){
      background-color: red;
  }
  
 .contenedor:nth-child(2){
      background-color: blue;
  }
  
  .contenedor:nth-child(3){
      background-color: green;
  }
  
  